.calendar-header {
    display: flex;
    justify-content: center;
    padding: 0 1.2rem;
}
#month-header {
    flex: 1;
    text-align: center;
    margin: 1rem 0;
}
.calendar-btn {
    flex-basis: 1rem;
    font-size: 1.5rem;
    border: none;
    background: none;
    color: rgb(95, 95, 95);
}
.calendar-btn:hover {
    color:rgb(0, 0, 0);
    cursor: pointer;
}

.calendar-body {
    padding: 0 1.2rem;
}

.cal-row {
    display: flex;
    margin: 1.5rem 0;
}
.day, .date {
    flex: 1;
    text-align: center;
    cursor: context-menu;
    user-select: none;
}
.day {
    font-weight: bold;
}

.current > span {
    border-radius: 50%;
    background-color: #088F8F;
    font-weight: bold;
    color: white;
    padding: 0.5rem;
}
